<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SECOND</title>
    <link rel="stylesheet" href="/css/main.css">
</head>

<body>
    <h1>USER PAGE</h1>
    <form action="/" method="get">
        <label for="greater">От:</label>
        <input type="float" id="greater" name="greater">
        <label for="less">До:</label>
        <input type="float" id="less" name="less">
        <button type="submit">Отфильтровать</button>
    </form>
    <ul>
        <% names.forEach((el)=> { %>
            <li>
                <b>Название: </b><%= el.name %>, <b>Sell price: </b><%= el.sell_price %>
            </li>
            <%}) %>
    </ul>
</body>

</html>