<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SECOND</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <h1>USER PAGE</h1>
    <p>Name: <%= JSON.stringify(names.name) %></p>
    <p>Encoded Name: <%= JSON.stringify(names.encoded_name) %></p>
</body>
</html>